@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

$marine-color: #000083;
$blue-sky: #22B5F0;
$star-active : rgb(255, 255, 0);
$star-middle-color : rgb(193, 193, 0);
$star-inactive : rgb(115, 115, 0);

.product-detail-container {
    
    width: 90%;
    margin: 0 auto;

    padding: 80px 0;


    .img-container {
        margin-right: 10px;
        width: 250px;
        height: 375px;

        img {
            width: 100%;
            height: 100%;
        }
    }


    .block1 {

        padding-top: 5px;

        .title {
            font-size: 2.3em;
            font-weight: bold;
            color: $marine-color;
        }

        .contributor {
            margin-bottom: 20px;
            font-size: 1.4em;
            color: grey;

            img {
                width: 30px;
                margin-right: 10px;
            }

            .contributor-name {
                // font-style: italic;
            }
        }

        .add-cart-b {
            background-color: $blue-sky;
            color: $marine-color;
            font-size: 1.4em;
            padding: 15px 30px;
            border: none;
            border-radius: 3px
        }

        .social-share {
            margin: 10px 0;

            i {
                font-size: 2em;
                margin-right: 7px;

                &:hover {
                    color: $blue-sky;
                }

            }
        }

        .time-delivery {

            margin-top: 40px;

            i {
                font-size: 1.7em;
                margin-right: 10px;
                color: $marine-color;
            }


        }




    }


    .block2 {

        margin-top: 80px 0;
        // width: 80%;

        .description {
            text-align: center;
            color: grey;
            font-size: 1.2em;
            margin-bottom: 80px;
        }

        .block3 {

            .details-block,
            .properties-block {

                padding: 0 30px;
                margin-bottom: 40px;

                .text {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    font-size: 0.9em;
                    color: rgb(83, 83, 83);
                    margin: 8px 0;
                }

                .prop-text {
                    width: 200px;
                }

                .value-text {
                    color: black;
                    font-family: 'Roboto Slab', serif;
                    font-size: 0.9em;
                    // font-weight: bold;
                }

                .title {
                    color: black;
                    font-weight: bold;
                    font-size: 1.3em;
                }

                // width: 600px;
                // background-color: azure;

            }

            .properties-block {

                // width: 600px;
                // background-color: beige;

            }



        }
    }


    .evaluation {
        margin-top: 50px;

        .text {
            font-size: 1.2em;
        }

        .number-stars {
            margin-top: 12px;
            margin-bottom: 9px;
            width: 150px;
        }

        i {
            cursor: pointer;
            font-size: 1.5em;
            color: $star-inactive;
        }

        // i.inactive {
        //     color: $star-inactive;
        // }

        i.active {
            color: $star-active;
        }

        .eval-input-text {
            height: 200px;

            textarea {
                width: 100%;
                height: 100%;
                resize: none;}
        }

        button {margin: 5px 0;}

    }

    .comments {

        button {
            margin-bottom: 10px;
        }

        margin: 20px 0;
        width: 50%;

        .comment {
            border-radius: 5px;
            margin-bottom: 15px;
            padding: 20px;
            background-color: rgb(234, 234, 234);
        }

        .comment:nth-child(2n+1) {
            background-color: rgb(247, 247, 247);
        }

    }
}




// RESPONSIVE PART
@media (max-width:800px) {

    .product-detail-container {

        padding: 80px 0;


        .img-container {
            margin-right: 10px;
            width: 200px;
            height: 300px;

            img {
                width: 100%;
                height: 100%;
            }
        }


        .block1 {

            .title {
                font-size: 1.5em;
            }
        }


        .block2 {
            
        }

        .evaluation {
            margin-top: 50px;
    
            .text {
                font-size: 1.2em;
            }

    
            .eval-input-text {
                height: 200px;
                width: 90%;
    
                textarea {height: 100%;  resize: none;}
            }
    
            button {margin: 5px 0;}
    
        }
    
        .comments {
    
            button {
                margin-bottom: 10px;
            }
    
            margin: 20px 0;
            width: 50%;
    
            .comment {
                border-radius: 5px;
                margin-bottom: 15px;
                padding: 20px;
                background-color: rgb(234, 234, 234);
            }
    
            .comment:nth-child(2n+1) {
                background-color: rgb(247, 247, 247);
            }
    
        }


    }


}