$marine-color: #000083;


.product-list-container {

    padding: 70px 0;

    .filter-part {

        button {color: $marine-color !important;}

        > .title {
            border-bottom: 1px solid grey;
            font-size: 1.3em;
            padding-bottom: 10px;
            margin-bottom: 50px;
        }

        .filter-list {
            color: $marine-color;
            font-size: 1.1em;


            .language-filter, .number-page-filter {
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 50px;
                // border-bottom: solid 1px grey;
                border-bottom: solid 1px grey;
                border-top: solid 1px grey;

                .title {
                    font-size: 1.1em;
                    padding-bottom: 5px;
                    margin-bottom: 0;
                }

                .option-list {
                    p {
                        margin: 5px 0;

                        &:last-child {margin: 0;}

                        .number_items {
                            color: grey;
                            font-size: 0.8em;
                        }
                    }


                }

            } 
        }

    }


    .product-list-part {

        .container-product {
            width: 80%;
            margin-left: 200px;
            margin-bottom: 60px;
            padding-bottom: 10px;
            border-bottom: 1px solid grey;

            .product {

                width: 600px;
                height: 300px;

    
                .img-container {
                    width: 200px;
                    height: 300px;
                    overflow: hidden;

                    img {
                        width: 200px;
                        height: 300px;
                        object-fit: contain;
                    }
                }
    
                .infos {
                    padding-left: 30px;
                    flex-grow: 1;
    
                    >.title {
                        font-size: 1.5em;
                    }
    
                    .contributor-container {
                        color: $marine-color;
                        font-size: 1.2em;
    
                        .contributor-name {
                            font-style: italic;
                        }
                    }

                    // .category {

                    // }
    
                    .evaluation {
                        margin-bottom: 10px;
                        .number-stars {
                            width: 150px;
                        }
    
                        .number-evaluation {
                            color: $marine-color;
                            font-size: 1.0em;
                            position: relative;
                            bottom: -2px;
                        }
    
                        i {
                            font-size: 1.5em;
                            color: rgb(225, 225, 0);
                        }
    
                    }
    
                    .publication-date {
                        color: grey;
                        font-size: 0.8em;
                        margin-bottom: 20px;
                    }
    
                    .bottom-block {
                        margin-top: auto;

                        i {
                            font-size: 3em;
                            color: #4689ef;
                        }
                    }
    
                }
    
            }


        }



    } 




}