@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');


$marine-color: #000083;

.focus-button {
    border: 1px solid $marine-color !important;
}

a {
    text-decoration: none;
    transition-duration: 200ms;
    transition-property: all;
    &:hover {
        color: $marine-color;
    }
}

.hide {
    display: none;
}


.nav-top {
    height: 70px;
    padding: 0 30px;

    .nav-top-left {

        a {
            vertical-align: baseline;
            font-size: 1.8em;
            margin: 0 15px;
        }

        a.logo {
            font-family: 'Aladin', cursive;
            font-size: 2.3em;

        }

        img {
            width: 50px;
            position: relative;
            bottom: 3px;
        }
    }


    .nav-top-right {
        button {
            background-color: transparent;
            margin: 0 6px;
            padding: 5px;
            outline: none;
            border: none;
            i {
                font-size: 1.6em;
                color: $marine-color;

            }

            &:hover {
                border: 1px solid $marine-color;
            }

        }


        .user-container {
            position: relative;

            .user-actions {
                position: relative;
                top: 130%;
                right: 0;
                position: absolute;
                width: 150px;

                .arrow-dropdown {
                    font-size: 2em;
                    color: rgb(246, 246, 246);
                    position: absolute;
                    top: -15px;
                    right: 15px;
                }

                .action {
                    // transition-duration: 0.5s;
                    background-color: rgb(246, 246, 246);
                    height: 50px;
                    border-left: 5px solid transparent;
                    &:hover {
                        border-left: 5px solid $marine-color;
                        text-decoration: underline;
                        
                    }
                }
            }


        }



    }
}

.nav-bottom {
    .nav-search {
        height: 110px;
        background-color: $marine-color;
    
        > * {
            margin: 0 15px;
        }
    
        input {
            width: 650px;
            height: 52px;
            padding-left: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    
        button {
            outline: none;
            border: none;
            background-color: transparent;
            color: white;
    
            span {margin-right: 5px;}
        }
        
    }

    .nav-categories {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 30px 100px;
        display: flex;
        background-color: white;
        border-bottom: 5px solid $marine-color;
    
        > * {
            flex-grow: 1;
            > :last-child {margin: 0;}
        }
    }


}


