<div class="navbar-container">

    <div class="nav-top d-flex align-items-center justify-content-between">
        <div class="nav-top-left d-flex align-items-baseline">
            <img src="../../../assets/images/PeterM-Feather-2.svg" alt="">
            <a class="logo" routerLink=""><span>Bookstore</span></a>
            <a routerLink="/product-list" class="font-size-1">Produits</a>
        </div>
        <div class="nav-top-right d-flex">
            <div class="btn-container search-container">
                <button class="search-btn" (click)="openSearch=!openSearch" [ngClass]="{'focus-button': openSearch == true}"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="btn-container">
                <button class="cart-btn" routerLink="/cart">
                    <div *ngIf="isUserLogin " class="quantity-cart-container">
                        <span class="quantity-cart">{{quantityCart}}</span>
                    </div>
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>

            <div class="btn-container user-container">
                <button (click)="openUserPanel=!openUserPanel" [ngClass]="{'focus-button' : openUserPanel}"><i
                        class="fa-solid fa-user"></i></button>

                <div class="user-actions logged-in" *ngIf="openUserPanel && !isUserLogin">
                    <div class="arrow-dropdown"><i class="fa-solid fa-caret-up"></i></div>
                    <div class="action flex-center cursor-pointer" routerLink="/register">S'inscrire</div>
                    <div class="action flex-center cursor-pointer" routerLink="/login">Se connecter</div>
                </div>

                <div class="user-actions logged-out" *ngIf="openUserPanel && isUserLogin">
                    <div class="arrow-dropdown"><i class="fa-solid fa-caret-up"></i></div>
                    <div class="action flex-center cursor-pointer" (click)="logout()">Se déconnecter</div>
                    <div class="action flex-center cursor-pointer" routerLink="/login">Accéder à mon compte</div>
                </div>


            </div>
        </div>

    </div>
    <div class="nav-bottom" *ngIf="openSearch">
        <div class="nav-search d-flex justify-content-center align-items-center">
            <input type="text" placeholder="Rechercher un livre">
            <button (click)="openCategories=!openCategories"><span>Afficher les catégories</span>
                <i class="fa-solid fa-angle-{{openCategories == false ? 'down' : 'up'}}"></i></button>
        </div>

        <div class="nav-categories" *ngIf="openCategories">
            <div *ngFor="let category of categories">
                <a (click)="openSearch=!openSearch" routerLink="/product-list/{{ category.code }}">{{category.title}}</a>
            </div>
        </div>

    </div>

</div>