<div class="navbar-container">

    <div class="nav-top bg-white d-flex align-items-center justify-content-between">
        <div class="nav-top-left d-flex align-items-center">
            <img src="../../../assets/images/logo.svg" alt="">
            <a class="logo" routerLink=""><span>Le BAZAR</span></a>
            <a routerLink="/product-list" class="font-size-1">Produits</a>
        </div>
        <div class="nav-top-right">
            <button (click)="openSearch=!openSearch" [ngClass]="{'focus': openSearch == true}"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
            <button><i class="fa-solid fa-cart-shopping"></i></button>
            <button><i class="fa-solid fa-user"></i></button>
        </div>

    </div>
    <div class="nav-bottom" *ngIf="openSearch">
        <div class="nav-search d-flex justify-content-center align-items-center">
            <input type="text" placeholder="Rechercher dans le bazar">
            <button (click)="openCategories=!openCategories"><span>Afficher les catégories</span>
                <i class="fa-solid fa-angle-{{openCategories == false ? 'down' : 'up'}}"></i></button>
        </div>

        <div class="nav-categories" *ngIf="openCategories">

            <div>
                <p><a routerLink="">Arts & photographie</a></p>
                <p><a routerLink="">Biographies & mémoires</a></p>
                <p><a routerLink="">Commerce & économie</a></p>
                <p><a routerLink="">Jeunesse</a></p>
                <p><a routerLink="">Bandes Dessinées & romans graphiques</a></p>
                <p><a routerLink="">Informatique & internet</a></p>
                <p><a routerLink="">Cuisine</a></p>
                <p><a routerLink="">Loisirs & bricolage</a></p>
                <p><a routerLink="">Éducation & langues</a></p>

            </div>
            <div>
                <p><a routerLink="">Ingénierie</a></p>
                <p><a routerLink="">Divertissement</a></p>
                <p><a routerLink="">Familles & relations interpersonnelles</a></p>
                <p><a routerLink="">Jeux</a></p>
                <p><a routerLink="">Fiction</a></p>
                <p><a routerLink="">Santé & forme</a></p>
                <p><a routerLink="">Histoire</a></p>
                <p><a routerLink="">Maison & jardin</a></p>
                <p><a routerLink="">Humour</a></p>

            </div>
            <div>
                <p><a routerLink="">Droit</a></p>
                <p><a routerLink="">Musique</a></p>
                <p><a routerLink="">Développement personnel</a></p>
                <p><a routerLink="">Animaux de compagnie</a></p>
                <p><a routerLink="">Poésie</a></p>
                <p><a routerLink="">Référence</a></p>
                <p><a routerLink="">Religions & spiritualités</a></p>
                <p><a routerLink="">Médecine & sciences</a></p>
                <p><a routerLink="">Sciences humaines</a></p>

            </div>
            <div>
                <p><a routerLink="">Sports</a></p>
                <p><a routerLink="">Voyages & aventures</a></p>
                <p><a routerLink="">Jeunes adultes</a></p>
            </div>        
        </div>

    </div>





</div>