@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Convergence&family=Secular+One&family=Varela+Round&display=swap');

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$marine-color: #000083;


a {
    text-decoration: none;
    transition-duration: 200ms;
    transition-property: all;

    &:hover {
        color: $marine-color;
    }
}

.hide {
    display: none;
}


.nav-top {
    height: 70px;
    padding: 40px 30px;
    background-color: aliceblue;

    .nav-top-left {
        padding-left: 80px;
        position: relative;

        a {
            vertical-align: baseline;
            font-size: 1.8em;
            margin: 0 15px;
        }

        a.logo {
            font-family: 'Convergence', sans-serif;
            font-size: 2.3em;

        }

        img {
            width: 45px;
            position: absolute;
            bottom: -1px;
            left: 37px;
        }
    }


    .nav-top-right {
        .btn-container {

            button {background-color: transparent; border: none;}

            border: 2px solid transparent;
            background-color: transparent;
            margin: 0 6px;
            width: 40px;
            height: 40px;
            @include flex-center;

            button i {
                font-size: 1.6em;
                color: $marine-color;

            }

            &.search-container:hover {
                border: 2px solid $marine-color;
            }

            .cart-btn {
                position: relative;
    
                > i {
                    z-index: 1;
                }
    
                .quantity-cart-container {
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    z-index: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 18px;
                    height: 18px;
                    background-color: white;
                    border-radius: 50%;
                    border: 2px solid $marine-color;
    
                    .quantity-cart {font-size: 0.8em;}
                }
    
    
            }

        }

        .user-container {
            position: relative;

            .user-actions {
                position: relative;
                top: 130%;
                right: 0;
                position: absolute;

                &.logged-in {
                    width: 150px;
                }

                &.logged-out {
                    width: 180px;
                }


                .arrow-dropdown {
                    font-size: 2em;
                    color: rgb(246, 246, 246);
                    position: absolute;
                    top: -15px;
                    right: 15px;
                }

                .action {
                    // transition-duration: 0.5s;
                    background-color: rgb(246, 246, 246);
                    height: 40px;
                    border-left: 5px solid transparent;

                    &:hover {
                        border-left: 5px solid $marine-color;

                    }
                }
            }


        }



    }
}

.nav-bottom {
    .nav-search {
        height: 110px;
        background-color: $marine-color;

        >* {
            margin: 0 15px;
        }

        input {
            width: 650px;
            height: 52px;
            padding-left: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        button {
            outline: none;
            border: none;
            background-color: transparent;
            color: white;

            span {
                margin-right: 5px;
            }
        }

    }

    .nav-categories {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 20px 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.2em;
        height: 450px;
        background-color: white;
        border-bottom: 5px solid $marine-color;

        >* {
            margin: 10px 0;
        }



        // > * {
        //     flex-grow: 1;
        //     > :last-child {margin: 0;}
        // }
    }


}