@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Convergence&family=Secular+One&family=Varela+Round&display=swap');
$marine-color: #000083;
$blue-sky: #22B5F0;
$light-grey: #dedede;


// General properties
.field {
    margin-top: 15px;

    label {
        font-family: 'Varela Round', sans-serif;
        font-size: 0.7em;
        color: black;
        text-transform: uppercase;
    }

    input {
        color: black;
        font-size: 1em;

        &::placeholder {
            color: grey;
            font-weight: 300;
        }

        width: 100%;
        height: 50px;
        outline: none;
        border: 1px solid $light-grey;
        padding-left: 20px;
        font-family: 'ABeeZee',
        sans-serif;

        &:focus {
            border: 2px solid $marine-color;
        }
    }

    .select-container {
        position: relative;

        select {
            appearance: none;
            width: 100%;
            font-family: 'ABeeZee', sans-serif;
            height: 50px;
            outline: none;
            border: 1px solid $light-grey;
            padding-left: 20px;
            font-family: 'ABeeZee', sans-serif;
            background-color: transparent;
        }

        i {
            position: absolute;
            top: 20px;
            right: 20px;
        }


        option {
            background-color: white;
            font-family: 'ABeeZee', sans-serif;
            color: $marine-color;
            width: 100%;
        }

    }

}


// Other properties
.contact-delivery-container {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .contact-delivery {
        margin: 0 100px;
        height: 100%;

        >.title {
            margin-top: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.6em;
            color: $marine-color;
            font-weight: 700;

            img {
                width: 50px;
                margin-right: 10px;
            }
        }


        .email-block,
        .adress-delivery-block {
            margin-top: 50px;

            .title {
                display: flex;
                align-items: baseline;

                span {
                    font-size: 1.5em;
                    font-weight: bold;
                    color: $marine-color;
                    padding: 0 20px;
                }

                .line {
                    border-bottom: 1px solid $light-grey;
                    flex-grow: 1;
                }


            }

            .email-marketing {
                margin-top: 10px;

                input {
                    margin-right: 5px;
                    width: 15px;
                    height: 15px;
                }

            }

        }


        .adress-delivery-block {

            .save-delivery-infos {
                margin-top: 10px;

                input {
                    margin-right: 5px;
                    width: 15px;
                    height: 15px;
                }
            }

            .actions {
                margin: 50px 0;
                display: flex;
                justify-content: flex-end;

                button {
                    font-size: 1.4em;
                    padding: 15px 30px;
                    border: none;
                    border-radius: 3px;
                    color: $marine-color;
                    background-color: white;
                    border: 2px solid $marine-color;

                    &:hover {
                        background-color: aliceblue;
                    }
                }
            }



        }



    }

    .summary-order {
        padding: 100px 60px;
        background-color: aliceblue;
        height: 100%;

        .summary-container {

            position: sticky;
            top: 50px;

            .title {
                font-size: 1.5em;
                color: $marine-color;
                font-weight: 600;
                margin-bottom: 50px;
            }


            .product-cart {
                padding-bottom: 10px;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $light-grey;
    
                .img-container {
                    display: flex;
                    justify-content: center;
                    width: 60px;
                    height: 60px;
                    background-color: white;
                    position: relative;
    
                    img {
                        width: 40px;
                        height: 60px;
                    }
    
                    .quantity-product-container {
                        position: absolute;
                        left: 40px;
                        bottom: 38px;
                        z-index: 2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 18px;
                        height: 18px;
                        padding: 12px;
                        background-color: white;
                        border-radius: 50%;
                        border: 2px solid $marine-color;
    
                        .quantity-product {
                            font-size: 0.8em;
                            font-weight: bold;
                        }
                    }
                }
    
    
    
                .logo {
                    i {
                        font-size: 1.5em;
                        color: $light-grey;
                    }
                }
    
                .price-total-product {
                    color: grey;
                    font-weight: 500;
                    font-size: 1em;
                }
            }

            .total {
                margin-top: 60px;
                display: flex;
                justify-content: flex-end;
                color: $marine-color;
                font-weight: 500;
                font-size: 1.2em;
    
                .label {
                    margin-right: 10px;
                }
            }
        }

    }

}



@media (max-width: 1000px) {
    .contact-delivery-container {
        display: block;

        .summary-order {
            padding: 60px 60px;


        }
    }
}


@media (max-width: 750px) {

// Other properties
.contact-delivery-container {
    display: block;

    .contact-delivery {
        margin: 0 100px;
        height: 100%;


        .email-block,
        .adress-delivery-block {
            margin-top: 50px;

            .title {
                display: block;

                span {
                    padding: 0;
                }

                .line {
                    display: none;
                }


            }

        }




    }

}

}