<div class="contact-delivery-container">



    <div class="contact-delivery">

        <div class="title cursor-pointer" routerLink="">
            <img src="../../../assets/images/PeterM-Feather-2.svg">
            <span>Bookstore</span>
        </div>

        <form action="" [formGroup]="contactDeliveryForm" #form="ngForm">


            <div class="email-block">
                <div class="title">
                    <div class="line"></div>
                    <span>Informations de contact</span>
                    <div class="line"></div>
                </div>

                <div class="field">
                    <label class="email-label">E-MAIL</label>
                    <input class="email-input" type="text" value="alexandre.grassioulet@hotmail.fr">
                </div>

                <div class="email-marketing">
                    <input type="checkbox" name="email-marketing-checkbox" id="email-marketing-checkbox">
                    <span>Tenez-moi au courant des nouveautés et des offres exclusives</span>
                </div>

            </div>

            <div class="adress-delivery-block">
                <div class="title">
                    <div class="line"></div>
                    <span>Adresse de livraison</span>
                    <div class="line"></div>
                </div>

                <div class="field">
                    <label for="country">PAYS *</label>
                    <div class="select-container">
                        <select name="country" id="country" formControlName="country"
                            [(ngModel)]="deliveryContact.country">
                            <option value="france">France</option>
                            <option value="spain">Espagne</option>
                            <option value="italy">Italie</option>
                        </select>

                        <i class="fa-solid fa-chevron-down"></i>
                    </div>

                </div>

                <div class="field">
                    <label for="firstname">Prénom *</label>
                    <input type="text" placeholder="Prénom" formControlName="firstname"
                        [(ngModel)]="deliveryContact.firstname">
                </div>

                <div class="field">
                    <label for="lastname">Nom *</label>
                    <input type="text" name="lastname" id="lastname" placeholder="Nom" formControlName="lastname"
                        [(ngModel)]="deliveryContact.lastname">
                </div>

                <div class="field">
                    <label for="company">Entreprise</label>
                    <input type="text" name="company" id="company" placeholder="Entreprise" formControlName="company"
                        [(ngModel)]="deliveryContact.company">
                </div>

                <div class="field">
                    <label for="adress">Adresse *</label>
                    <input type="text" name="adress" id="adress" placeholder="Adresse" formControlName="adress"
                        [(ngModel)]="deliveryContact.adress">
                </div>

                <div class="field">
                    <label for="postal-code">Code postal *</label>
                    <input type="text" name="postal-code" id="postal-code" placeholder="Code postal"
                        formControlName="postalCode" [(ngModel)]="deliveryContact.postalCode">
                </div>

                <div class="field">
                    <label for="adress">Ville *</label>
                    <input type="text" name="city" id="city" placeholder="Ville" formControlName="city"
                        [(ngModel)]="deliveryContact.city">
                </div>

                <div class="field">
                    <label for="phone-number">Téléphone *</label>
                    <input type="text" name="phone-number" id="phone-number" placeholder="Téléphone"
                        formControlName="phoneNumber" [(ngModel)]="deliveryContact.phoneNumber">
                </div>

                <div class="save-delivery-infos">
                    <input type="checkbox" name="save-delivery-infos-checkbox" id="save-delivery-infos-checkbox"
                        formControlName="saveDeliveryData">
                    <span>Enregistrer ces informations pour une prochaine commande</span>
                </div>

                <div class="errors text-warning my-3">{{message}}</div>


                <div class="actions">
                    <!-- <div id="myPaypalButtons"></div> -->
                    <!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->
                    <!-- <button (click)="checkout()">Payer</button> -->
                    <button class="continue-payment-btn" (click)="saveDeliveryContactAndPay()">Valider le paiement</button>
                </div>
            </div>
        </form>
    </div>


    <div class="summary-order">

        <div class="summary-container">

            <p class="title">Récapitulatif de la commande</p>

            <div class="product-cart" *ngFor="let productCart of order.product_cart">
                <div class="img-container">
                    <div class="quantity-product-container">
                        <span class="quantity-product">{{productCart.quantity}}</span>
                    </div>

                    <img src="https://picsum.photos/200/300">
                </div>
                <div class="logo"><i class="fa-solid fa-book"></i></div>
                <div class="price-total-product">{{productCart.product.price}} €</div>
            </div>

            <div class="total">
                <span class="label">TOTAL :</span>
                <span class="value">{{total}} €</span>
            </div>


        </div>




    </div>
</div>